@media screen and (max-width:1024px) {
    .lien {
        display: none;
    }
    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        text-align: center;
    }
    .location-input{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background: white;
        height: fit-content;
        gap: 2rem;
        flex-direction: column;
    }

    select, input , #searsh {
        width: 100%;
    }
    section.location {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}
@media screen and (max-width:768px) {
    .btn {
        display: none;
    }
    header{
        justify-content: center;
    }
    .hero {
        clip-path: polygon(0 10%, 100% 8%, 100% 100%, 0% 100%);
    }
    .card-1,.card-2, .card-3 {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin: 0;
    }
    .contact {
        clip-path: none;
    }
}
